
/* Estilos gerais - conteúdo oculto fora da media query */
body{ 
    display: none; /* Oculta o conteúdo por padrão */
}

.titulo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700; /* Bold */
}
.conteudo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300; /* Light */
}
