
/* Estilos gerais - conteúdo oculto fora da media query */
   /* Estilos para a Tela 2 */  
   body {
    display: flex;                                  /* Define o layout como flexbox */
    justify-content: center;                        /* Centraliza horizontalmente o conteúdo */
    align-items: center;                            /* Centraliza verticalmente o conteúdo */
    background-image: url('img/fundo_verde.png');   /* Define a imagem de fundo */
    background-size: cover;                         /* Cobre todo o espaço do body com a imagem */
    background-attachment: fixed;                   /* Mantém a imagem fixa */
 
}

.titulo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700; /* Bold */
}
.conteudo {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300; /* Light */
}

