body{ 
    display: none; /* Oculta o conteúdo por padrão */
}

@media (max-width: 320px) and (max-height: 578px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('img/fundo_verde.png');
        background-size: cover;     
    }

    .container {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .top-section-two {
        width: 100%;
        max-width: 100%;
    }

    .top-section-two img {
        background: none;
        border: none;
        width: 100%;
        height: auto;
    }

    .content {
        width: 90%;
        max-width: 300px;
        min-height: 200px;
        justify-content: center;
        padding: 20px;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        margin: 20px auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     
    }

    #title {
        color: #fff;
        background-color: #b22222;
        padding: 10px;
        border-radius: 5px; 
    }

    ul.opcoes {
        list-style: none;
        padding: 0;
    }

    ul.opcoes li {
        
        font-size: 0.7em;
        color: #444;
    }

    ul.opcoes li input[type="radio"] {
        margin-right: 10px;
        position: fixed;
        left: 25px;
    }
}
