<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/tela_um.css">
        <link rel="icon" type="image/png" href="../static/img/logo_ifc.png">
        <title>QuizIFC</title>
    </head>
    <body>
        <div class="container">
            <div class="top-section">
                <img src="../static/img/tela1.png" alt="Logotipo do QuizIFC">
            </div>
            <div class="bottom-section">
                <a href="{{ url_for('tela_dois') }}">                  
                    <img src="../static/img/iniciarquiz.png" alt="Botão para iniciar o quiz">                   
                </a>
            </div>
        </div>
        <script src="../static/js/jquery-3.6.4.js"></script> <!-- Chamada de jQuery -->  
        <script src="../static/bootstrap/js/bootstrap.js"></script> <!-- Referência correta do Bootstrap JS -->
        <script src="../static/scripts.js"></script> <!-- Referência para arquivos JS personalizados -->
    </body>
</html>
