<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/bootstrap/js/bootstrap.js">
        <link rel="stylesheet" href="../static/style.css">
        <!-- <link rel="icon" type="image/png" href="janela"> -->
        <title>QuizIFC</title>
    </head>
    <body id="fundo_verde">
        <div class="container">
            <div class="top-section">
                <img src="../static/img/tela1/cima.png" alt="Imagem da moça">
            </div>
            <div class="bottom-section">
                <button class="quiz-button">
                    <img id="sombra" src="../static/img/tela1/initquiz.png" alt="Botão para iniciar o quiz">
                </button>
            </div>
        </div>



        <script src="../static/script.js"></script> <!-- Referencia para arquivos js -->
        <script src="../static/js/jquery-3.6.4.js"></script> <!-- Chamada de jQuery -->  
    </body>
</html>
