<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/bootstrap/js/bootstrap.js">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/fim.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
        <title>Resultado</title>
    </head>
    <body>
        <div class="container">
            <!-- Topo da tela com a imagem -->
            <div class="top-section-two">
                <img src="../static/img/tela6.png" alt="">
                <a href="{{ url_for('reiniciar_quiz') }}">
                    <img id="reinit" src="../static/img/reiniciar.png" alt="botão para reiniciar o quiz">
                </a>
                
            </div>
            <!-- Conteúdo Dinâmico da Tela -->
            <div class="container">
                <div class="content">
                    <div id="background">
                        <h6 class="titulo"> PRONTO!</h6>
                        <h6 class="titulo">Confira os cursos disponiveis para você:</h6>
                    </div>
                    <ul class="opcoes">
                        {% for curso in cursos %}
                        <li>
                            <div class="curso-detalhe">
                                <h4>{{ curso.Curso }}</h4>
                                <p><strong>Turno:</strong> {{ curso.Turno }}</p>
                                <p><strong>Campus:</strong> {{ curso.Campus }}</p>
                                <p><strong>Modalidade:</strong> {{ curso.Modalidade }}</p>
                                <p><strong>Região:</strong> {{ curso.Região }}</p>
                                <p><strong>Área Temática:</strong> {{ curso.Área_Temática }}</p>
                            
                                <a href="{{ curso.Site }}" target="_blank" style="color: #007bff;">Mais informações</a>
                            </div>
                        </li>
                        {% else %}
                        <li>
                            <p class="titulo">Nenhum curso encontrado com os critérios selecionados.</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <ul class="conteudo">
                <li>
                    <a href="https://ingresso.ifc.edu.br/">
                        <h5>Quero me inscrever</h5>
                    </a>
                </li>
                <li>
                    <a href="https://ingresso.ifc.edu.br/guia-de-cursos/">
                        <h5>Quero conhecer outros cursos do IFC</h5>
                    </a>
                </li>
                <li>
                    <a href="https://ifc.edu.br/">
                        <h5>Quero conhecer os Campi</h5>
                    </a>
                </li>
                <li>
                    <a href="https://estudante.ifc.edu.br/category/programa-de-auxilios-estudantis-pae/?_gl=1*1grrcek*_ga*MTY2MDcwNjI3My4xNzA2MDE2NDI2*_ga_FM2DQDNX9M*MTcyMTk5NTE1OS4zOS4xLjE3MjE5OTUyMTkuMC4wLjA">
                        <h5>Quero saber mais sobre Auxílios Estudantis</h5>
                    </a>
                </li>
                <li>
                    <a href="https://ensino.ifc.edu.br/">
                        <h5>Quero receber mais informações</h5>
                    </a>
                </li>
            </ul>  
        </div>
        <script src="../static/script.js"></script> <!-- Referencia para arquivos js -->
        <script src="../static/js/jquery-3.6.4.js"></script> <!-- Chamada de jQuery -->  
    </body>
</html>
