<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/bootstrap/js/bootstrap.js">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/tela_2-5.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="../static/img/logo_ifc.png">
        <title>Situação</title>
    </head>
    <body>
        <div class="container">
            <!-- Topo da tela com a imagem -->
            <div class="top-section-two">
                <img src="../static/img/tela2.png" alt="logo de inicio">
            </div>

            <!-- Conteúdo Dinâmico da Tela -->
            <div class="container">
                <div class="content">
                    <div id="background">
                        <h6 class="titulo">Qual situação melhor o(a) representa?</h6>
                    </div>
                    <!-- Adicione o atributo onchange para capturar o evento de mudança -->
                    <form id="situacaoForm" action="/situacao" method="POST">
                        <ul class="opcoes">
                            <li style="--order: 1">      
                                <input type="radio" id="opcao1" name="situacao" value="Técnico Integrado"  onchange="this.form.submit()">
                                <label  class="titulo" for="opcao1">Já concluí ou estou finalizando o ensino fundamental</label>                               
                            </li>
                            <li style="--order: 2">      
                                <input type="radio" id="opcao2" name="situacao" value="EJA"  onchange="this.form.submit()">
                                <label  class="titulo" for="opcao2">Não concluí o ensino médio</label>                               
                            </li>
                            <li style="--order: 3">      
                                <input type="radio" id="opcao3" name="situacao" value="EJA, Técnico Integrado"  onchange="this.form.submit()">
                                <label  class="titulo" for="opcao3">Tenho 18 anos ou mais e não concluí o ensino médio</label>                               
                            </li >
                            <li style="--order: 4">      
                                <input type="radio" id="opcao4" name="situacao" value="Técnico Integrado, Técnico Subsequente"  onchange="this.form.submit()">
                                <label  class="titulo" for="opcao4">Estou cursando o ensino médio em outra instituição</label>                               
                            </li>
                            <li style="--order: 5">      
                                <input type="radio" id="opcao5" name="situacao" value="Técnico Subsequente, Superior Licenciatura, Superior Bacharelado, Superior Tecnologia"  onchange="this.form.submit()">
                                <label  class="titulo" for="opcao5">Já concluí ou estou finalizando o ensino médio</label>                               
                            </li>
                            <li style="--order: 6">      
                                <input type="radio" id="opcao6" name="situacao" value="Técnico Subsequente, Superior Licenciatura, Superior Bacharelado, Superior Tecnologia, Pós-graduação lato sensu, Pós-graduação Stricto Sensu, Pós-Graduação em Agronomia: Sistemas Agrícolas Regionais, Mestrado Profissional em Produção e Sanidade Animal, Mestrado Profissional em Tecnologia e Ambiente"  onchange="this.form.submit()">
                                <label  class="titulo" for="opcao6">Já concluí minha graduação</label>                               
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <script src="../static/js/jquery-3.6.4.js"></script> <!-- Chamada de jQuery -->  
        <script src="../static/bootstrap/js/bootstrap.js"></script> <!-- Referência correta do Bootstrap JS -->
        <script src="../static/script.js"></script> <!-- Referência para arquivos JS personalizados -->
    </body>
</html>
