<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/bootstrap/js/bootstrap.js">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/tela_2-5.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
        <title>Área de Atuação</title>
    </head>
    <body>
        <div class="container">
            <!-- Topo da tela com a imagem -->
            <div class="top-section-two">
                <img src="../static/img/tela4.png" alt="logo de inicio">
                <a href="https://ingresso.ifc.edu.br/guia-de-cursos/">
                    <img id="position_botton_area" src="../static/img/areasdeestudo.png" alt="botão para conhecer as areas de estudo" class="botoes">
                </a>
            </div>
            <!-- Conteúdo Dinâmico da Tela -->
            <div class="container">
                <div class="content">
                    <div id="background">
                        <h6 class="titulo">Qual área de estudos mais te motiva?</h6>
                    </div>
                    <form id="areaForm" action="/area" method="POST">
                        <ul class="opcoes">
                            <li style="--order: 1">      
                                <input type="radio" id="opcao1" name="area" value="Ciências Agrárias" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao1">Ciências Agrárias</label>                               
                            </li>
                            <li style="--order: 2">      
                                <input type="radio" id="opcao2" name="area" value="Ciências Humanas" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao2">Ciências Humanas</label>                               
                            </li>
                            <li style="--order: 3">      
                                <input type="radio" id="opcao3" name="area" value="Ciências Sociais Aplicadas" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao3">Ciências Sociais Aplicadas</label>                               
                            </li>
                            <li style="--order: 4">      
                                <input type="radio" id="opcao4" name="area" value="Ciências Exatas e da Terra" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao4">Ciências Exatas e da Terra</label>                               
                            </li>
                            <li style="--order: 5">      
                                <input type="radio" id="opcao5" name="area" value="Engenharias e Tecnologias" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao5">Engenharias e Tecnologias</label>                               
                            </li>
                            <li style="--order: 6">      
                                <input type="radio" id="opcao6" name="area" value="Multidisciplinar" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao6">Multidisciplinar</label>                               
                            </li>
                            <li style="--order: 7">      
                                <input type="radio" id="opcao7" name="area" value="Área_Temática" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao7">Todas as áreas</label>                               
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <script src="../static/js/jquery-3.6.4.js"></script> <!-- Chamada de jQuery -->  
        <script src="../static/bootstrap/js/bootstrap.js"></script> <!-- Referência correta do Bootstrap JS -->
        <script src="../static/script.js"></script> <!-- Referência para arquivos JS personalizados -->
    </body>
</html>
