<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="../static/bootstrap/js/bootstrap.js">
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/tela_2-5.css">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap" rel="stylesheet">
        <link rel="icon" type="image/png" href="../static/img/logo_ifc.png">
        <title>Ações Afirmativas</title>
    </head>
    <body>
        <div class="container">
            <!-- Topo da tela com a imagem -->
            <div class="top-section-two" class="botoes">
                <img src="../static/img/tela5.png" alt="logo de inicio">
                <a href="https://ingresso.ifc.edu.br/category/acoes-afirmativas/">
                    <img id="position_botton_acoes" src="../static/img/acoesafirmativas.png" alt="botão para conhecer as ações afirmativas" class="botoes">
                </a>
            </div>

            <!-- Conteúdo Dinâmico da Tela -->
            <div class="container">
                <div class="content">
                    <div id="background">
                        <h6 class="titulo">Você pretende se candidatar por meio de alguma ação afirmativa?</h6>
                    </div>
                    <form id="acForm" action="/ac" method="POST">
                        <ul class="opcoes">
                            <li style="--order: 1">      
                                <input type="radio" id="opcao1" name="ac" value="Escola pública, Negros (pretos e pardos), Quilombola, Indígena, Baixa Renda - Sem Ações Afirmativas" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao1">Sim, sou estudante/oriundo de escola pública</label>                               
                            </li>
                            <li style="--order: 2">      
                                <input type="radio" id="opcao2" name="ac" value="Docente da Rede Pública de Ensino - Sem Ações Afirmativas" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao2">Sim, sou docente de escola pública</label>                               
                            </li>
                            <li style="--order: 3">      
                                <input type="radio" id="opcao3" name="ac" value="Escola pública, Negros (pretos e pardos), Quilombola, Indígena, Baixa Renda - Sem Ações Afirmativas" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao3">Sim, sou negro(a)(preto, pardo)</label>                               
                            </li>
                            <li style="--order: 4">      
                                <input type="radio" id="opcao4" name="ac" value="Escola pública, Negros (pretos e pardos), Quilombola, Indígena, Baixa Renda - Sem Ações Afirmativas" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao4">Sim, sou indígena</label>                               
                            </li>
                            <li style="--order: 5">      
                                <input type="radio" id="opcao5" name="ac" value="Escola pública, Negros (pretos e pardos), Quilombola, Indígena, Baixa Renda - Sem Ações Afirmativas" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao5">Sim, sou pessoa com deficiência</label>                               
                            </li>
                            <li style="--order: 6">      
                                <input type="radio" id="opcao6" name="ac" value="Escola pública, Negros (pretos e pardos), Quilombola, Indígena, Baixa Renda - Sem Ações Afirmativas" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao6">Sim, sou pessoa de baixa renda</label>                               
                            </li>
                            <li style="--order: 7">      
                                <input type="radio" id="opcao7" name="ac" value="Agricultura Familiar, Escola pública, Negros (pretos e pardos), Quilombola, Indígena, Baixa Renda - Escola pública, Negros (pretos e pardos), Quilombola, Indígena, Baixa Renda - Sem Ações Afirmativas" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao7">Sim, sou agricultor(a) ou filho(a) de agricultores</label>                               
                            </li>
                            <li style="--order: 8">      
                                <input type="radio" id="opcao8" name="ac" value="Ação_Afirmativa - Sem Ações Afirmativas" onchange="this.form.submit()">
                                <label  class="titulo" for="opcao8">Não, não pretendo</label>                               
                            </li>
                        </ul>
                    </form>
                </div>
            </div>
        </div>
        <script src="../static/js/jquery-3.6.4.js"></script> <!-- Chamada de jQuery -->  
        <script src="../static/bootstrap/js/bootstrap.js"></script> <!-- Referência correta do Bootstrap JS -->
        <script src="../static/script.js"></script> <!-- Referência para arquivos JS personalizados -->
    </body>
</html>
